.bg-above-the-fold {
  background-image: url("../public/images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
}

h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  letter-spacing: 10px;
}
