.bg-above-the-fold {
  background-image: url("../public/images/desktop/image-header.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
@media (max-width: 640px) {
  .bg-above-the-fold {
    background-image: url("../public/images/mobile/image-header.jpg");
  }
}
